#home {
  flex-direction: column;

  >header {
    width: 100%;
    min-width: 320px;
    min-height: calc(100vh - 60px);
    background-image: url('/assets/images/ferrari-vermelha-1200.webp');
    background-position-x: 80%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em;

    a {
      @include button;
      color: var(--white);
      border: var(--white) 2px solid;

      &:hover {
        background-color: var(--white);
        color: var(--black);
      }
    }

    h1 {
      color: var(--white);
      font-size: 4em;
      font-weight: bold;
      text-align: right;
      line-height: 1.25em;
      margin: 0.4em 0;
    }

    ul {
      display: none;
    }
  }

  .gallery {
    flex-direction: column;
    max-width: 100%;

    figure {
      position: relative;
      margin: 0;

      picture {
        width: 100%;

        img {
          width: 100%;
        }
      }

      figcaption {
        position: absolute;
        bottom: 22px;
        left: 0;
        background-color: var(--dark-1);
        color: var(--white);
        padding: 8px 29px 10px 26px;
        height: 72px;
        width: 180px;

        h2 {
          font-size: 1.5em;
          margin: 0;
          width: fit-content;
        }

        p {
          font-size: 1em;
          margin: 0;
          width: fit-content;
          color: var(--gray-3);
        }
      }
    }
  }

  .services {
    flex-direction: column;
    padding: var(--space);
    padding-bottom: calc(60vw - 10%);
    background-image: url("/assets/images/services.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    h2 {
      font-size: 1.75em;
      color: var(--gray-11);
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    >p {
      font-size: 1.25em;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--gray-9);
      margin: 0;
      margin-bottom: 20px;
    }

    .services_wrapper {
      flex-direction: column;
      align-items: center;

      ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: fit-content;
        align-items: center;

        li {
          flex-direction: column;
          text-transform: normal;
          align-items: center;
          width: fit-content;
          margin-bottom: 20px;

          figure {
            width: 100px;
            height: 100px;
            margin: 0;
            margin-bottom: 20px;

            img {
              width: 100%;
            }
          }

          p {
            font-size: 1em;
            font-weight: bold;
            color: var(--gray-9);
            margin: 0;
            width: fit-content;
          }
        }
      }

      a {
        @include button-green;
        width: 100%;
      }
    }
  }

  .contact {
    width: 100%;
    flex-direction: column;

    h2 {
      font-size: 1.75em;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--dark-0);
      margin: 20px var(--space);
    }

    section {
      flex-direction: column;

      form {
        margin-bottom: 20px;

        header {
          flex-direction: column;
          margin-bottom: 20px;

          h3 {
            font-size: 32px;
            font-weight: bold;
            color: var(--green);
            margin: 0;
            margin-bottom: 7px;
          }

          hr {
            border: 0;
            margin: 0;
            width: 68px;
            height: 4px;
            background-color: var(--red);
          }
        }

        .alert {
          width: 100%;
          padding: 14px;
          border-radius: 5px;
          margin-bottom: 20px;

          &.danger {
            background-color: var(--danger);
            color: var(--danger-color);
            border: 1px solid var(--danger-border);
          }

          &.success {
            background-color: var(--success);
            color: var(--success-color);
            border: 1px solid var(--success-border);
          }
        }

        .actions {
          width: 100%;
          justify-content: flex-end;

          button {
            width: 100%;
          }
        }
      }

      #map {
        width: 100%;
        height: 30vh;
        background-image: url('/assets/images/mapa.png');
        margin-bottom: 20px;
      }
    }

    .contacts {
      margin: 0;
      padding: 0;
      flex-direction: column;
      padding: 0 var(--space);

      li {
        position: relative;
        margin-top: 60px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--gray-1);
        padding: 40px;

        img {
          width: 100px;
          height: 100px;
          padding: 10px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -60px;
          background: linear-gradient(#FFF, #FFF);
        }

        p {
          margin: 0;
          color: var(--gray-0);
          font-size: 1.7em;
          width: fit-content;
        }

        .title {
          font-size: 1.5em;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

    }
  }
}

@media (min-width: 1200px) {
  #home {
    .gallery {
      flex-direction: row;
    }

    .services {
      .services_wrapper {
        flex-direction: column-reverse;

        ul {
          width: 60vw;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 auto;
        }

        a {
          width: 200px;
          margin-bottom: 118px;
        }
      }
    }

    .contact {
      padding: 0 var(--space);

      h2 {
        margin-left: 0;
        margin-right: 0;
      }

      section {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;

        form {
          min-width: 50%;
          margin-right: 100px;
          padding: 0;

          .actions {
            button {
              width: 200px;
            }
          }
        }

        #map {
          width: 50%;
          background-image: url('/assets/images/mapa@2x.png');
          background-repeat: no-repeat;
          background-size: contain;
          height: 30vw;
        }
      }

      .contacts {
        flex-direction: row;

        li {
          width: 100%;
          margin-right: 20px;
          padding: 0;
          padding-top: 50px;
          padding-bottom: 20px;

          .title {
            font-size: 1.4em;
          }
        }
      }
    }
  }

  #home {
    >header {
      background-image: url('/assets/images/ferrari-vermelha.webp');

      a {
        margin-bottom: 50px;
      }

      h1 {
        margin-top: 40px;
      }

      ul {
        display: flex;
        color: var(--white);
        margin: 0;

        li {
          font-size: 30px;
          height: 30px;
          line-height: 30px;
          margin-left: 50px;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  #home {
    > header {
      background-image: url('/assets/images/ferrari-vermelha@2x.webp');
    }
  }
}