.page {
    .options {
        margin-top: 20px;
        flex-direction: column;

        label {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;

            .square {
                width: 24px;
                height: 24px;
                border: var(--gray-10) 2px solid;
                justify-content: center;
                align-items: center;

                >div {
                    width: 14px;
                    height: 14px;
                    background-color: var(--gray-10);
                    opacity: 0.5;
                    transition: all 0.1s ease-in-out;
                }
            }

            &:hover {
                .square {
                    border: var(--gray-8) 2px solid;
                }

                >div {
                    opacity: 1;
                }
            }

            input {
                display: none;

                &:checked+.square {
                    >div {
                        opacity: 1;
                        background: var(--blue);
                    }
                }
            }

            .content {
                flex-direction: column;
                padding-left: 12px;
                z-index: 2;
                color: var(--dark-0);
                line-height: 1.5em;

                span {
                    width: fit-content;
                }

                .description {
                    font-size: 0.9em;
                    color: var(--gray-2);
                }

                .price {
                    font-weight: bold;
                }
            }
        }

    }

    aside {
        width: 100%;
        position: fixed;
        z-index: 2;
        right: 0;
        bottom: 80px;
        height: 50px;
        background-color: var(--gray-12);
        border-bottom: 1px solid var(--gray-3);
        flex-direction: column;
        transition: all 0.2s ease-in-out;

        header {
            display: none;
            font-size: 2em;
            height: 130px;
            justify-content: center;
            align-items: center;
            color: var(--dark-0);
        }

        section {
            padding: 0 20px;
            display: none;
            flex: 1;
            max-height: calc(100vh - 338px);
            overflow: auto;
            align-items: flex-start;

            table {
                border-collapse: collapse;
                width: 100%;
                border-bottom: var(--gray-3) 1px solid;

                .price {
                    text-align: right;
                }

                tr {
                    border-top: var(--gray-3) solid 1px;

                    td {
                        padding: 20px 0;

                        &.image {
                            margin-left: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        footer {
            height: 50px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            font-size: 1.1em;

            .total {
                font-weight: bold;
                margin-left: 20px;
                text-align: right;
            }

            button {
                @include button;
                min-width: 50px;
                width: 50px;

                svg {
                    transform: rotate(0deg);
                    transition: all 0.2s ease-in-out;
                }
            }
        }

        &.open {
            height: calc(100vh - 158px);

            header,
            section {
                display: flex;
            }

            footer {
                button {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #schedules-services {

        >header,
        >main {
            width: calc(100vw - 375px);
        }

        aside,
        aside.open {
            width: 375px;
            height: calc(100vh - 118px);
            bottom: 0;
            z-index: 4;

            header,
            section {
                display: flex;
            }

            header {
                height: 160px;
            }

            footer {
                height: 80px;

                >div {
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.3em;

                    .total {
                        font-size: 1.5rem;
                    }
                }

                button {
                    display: none;
                }
            }
        }
    }
}